/* html::-webkit-scrollbar, body::-webkit-scrollbar{ display: none; } */

/* 공통부분 */
/* 공통부분 */
/* 공통부분 */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #645959;
}

body {
  min-width: 1440px;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

#progress-bar {
  z-index: 9999;
}

#progress-bar-track {
  top: calc(50vh - 100px);
  right: 20px;
  z-index: 9990;
  content: "";
  width: 5px;
  height: 200px;
  position: fixed;
  background-color: #ececec;
}

button {
  cursor: pointer;
}

.section_title {
  padding: 100px 0 30px;
  font-family: "Black Han Sans", sans-serif;
  font-weight: normal;
  text-align: center;
}
/* 공통부분 */
/* 공통부분 */
/* 공통부분 */

/* 대슬라이드 부분 */
/* 대슬라이드 부분 */
/* 대슬라이드 부분 */
.img_container {
  position: relative;
}

#main_banner {
  width: 100%;
}

#btn_left {
  font-size: 2em;
  position: absolute;
  left: 20px;
  top: calc(50% - 30px);
}

#btn_rignt {
  font-size: 2em;
  position: absolute;
  right: 20px;
  top: calc(50% - 30px);
}

.num_btn {
  display: flex;
  width: 120px;
  justify-content: space-between;
  position: absolute;
  left: calc(50% - 60px);
  bottom: 30px;
}

#btn0,
#btn1,
#btn2,
#btn3,
#btn4 {
  cursor: pointer;
}
/* 대슬라이드 부분 */
/* 대슬라이드 부분 */
/* 대슬라이드 부분 */

/* 베스트메뉴 소슬라이드 부분 */
.bx-wrapper {
  height: 340px !important;
  margin: 0 auto;
  border: none !important;
  box-shadow: none !important;
}

.best_menu_wrap {
  margin: 0 auto 30px;
  width: 75%;
  line-height: 0;
}

.best_menu_wrap img {
  width: 100%;
  height: 320px;
}
.best_menu_wrap .text {
  line-height: 24px;
  text-align: center;
}
/* 베스트메뉴 소슬라이드 부분 */

/* 메뉴 부분 */
/* 메뉴 부분 */
/* 메뉴 부분 */
.menu {
  background-color: #ececee;
}

.menu_container_a {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.menu_container_b {
  padding-right: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.menu_container_c {
  padding-top: 46px;
  display: flex;
}

.nav_menu {
  font-size: 16px;
  margin-left: 100px;
}

.menu_container_d {
  padding-left: 52px;
  flex-direction: column;
  justify-content: space-between;
}

.menu_container_e {
  padding-bottom: 82px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coffee_beverage {
  border-radius: 10px;
  width: 592px;
  height: 240px;
  background-color: #fff;
}

.px_24 {
  font-size: 24px;
  line-height: 36px;
}

.px_16 {
  font-size: 16px;
  line-height: 24px;
}

.padding_5 {
  padding: 5px 0;
}

.coffee_beverage_container_b {
  display: flex;
}

.matcha {
  padding-left: 20px;
}

.md {
  border-radius: 10px;
  width: 356px;
  height: 285px;
  background-color: #fff;
}

.deli {
  margin-bottom: 46px;
  border-radius: 10px;
  width: 492px;
  height: 180px;
  background-color: #fff;
}

.bread {
  border-radius: 10px;
  width: 492px;
  height: 180px;
  background-color: #fff;
}

.cake {
  border-radius: 10px;
  width: 448px;
  height: 368px;
  background-color: #fff;
}

.ice_cream {
  border-radius: 10px;
  width: 305px;
  height: 195px;
  background-color: #fff;
}

.padding_borderbox {
  padding: 20px;
  box-sizing: border-box;
}

.mobile_menu {
  display: none;
}
/* 메뉴 부분 */
/* 메뉴 부분 */
/* 메뉴 부분 */

/* 동영상 부분 */
/* 동영상 부분 */
/* 동영상 부분 */
.video_wrap {
  line-height: 0;
  text-align: center;
}
/* 동영상 부분 */
/* 동영상 부분 */
/* 동영상 부분 */

/* 서포트 레이어 부분 */
/* 서포트 레이어 부분 */
/* 서포트 레이어 부분 */
.support_img_wrap {
  margin-bottom: 100px;
  text-align: center;
}

.support_img_wrap > div {
  display: inline-block;
  vertical-align: bottom;
}

.layered_image_wrapper_01,
.layered_image_wrapper_02,
.layered_image_wrapper_03,
.layered_image_wrapper_04 {
  position: relative;
}

:is(.layered_image_wrapper_01, .layered_image_wrapper_02, .layered_image_wrapper_03, .layered_image_wrapper_04)
  img {
  width: 350px;
  height: auto;
}

:is(.layer_01, .layer_02, .layer_03, .layer_04):hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.layer_01,
.layer_02,
.layer_03,
.layer_04 {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.layer_text_01_1,
.layer_text_02_1,
.layer_text_03_1,
.layer_text_04_1 {
  font-size: 24px;
  font-weight: bold;
  color: #ececee;
  position: absolute;
  left: 30px;
  top: 350px;
}

.layer_text_01_2,
.layer_text_02_2,
.layer_text_03_2,
.layer_text_04_2 {
  width: 290px;
  text-align: justify;
  color: #ececee;
  position: absolute;
  left: 30px;
  top: 400px;
}
/* 서포트 레이어 부분 */
/* 서포트 레이어 부분 */
/* 서포트 레이어 부분 */

/* 프랜차이즈 부분 */
/* 프랜차이즈 부분 */
/* 프랜차이즈 부분 */
.franchisee {
  background-color: #ececee;
}

.franchisee_container_a {
  padding-bottom: 100px;
  /* width: 100%; */
  max-width: 1805px;
  /* width : 86.458%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.franchisee_container_b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 30px;
  /* padding:0 130px; */
}

.franchisee_container_c {
  display: flex;
  justify-content: space-between;
}

.padding_8 {
  padding: 8px 0;
}

.padding_14 {
  padding: 14px 0;
}

.line_height_3 {
  line-height: 36px;
}

.franchisee_button {
  margin: 14px 0;
  border: 2px solid #645959;
  width: 130px;
  line-height: 34px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.franchisee_button span {
  position: relative;
  z-index: 1;
}

.franchisee_button::before {
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  content: "";
  z-index: 0;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.6);
  transition-property: width;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}
.franchisee_button:hover::before {
  width: 100%;
}
/* 프랜차이즈 부분 */
/* 프랜차이즈 부분 */
/* 프랜차이즈 부분 */

/* 스페이스 디자인 플렉스 부분 */
.space_design {
  margin-bottom: 100px;
}

.space_design_img_wrap {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 733px;
  line-height: 0;
}

.space_design_img {
  flex: 1 1 4.314%;
  transition: flex-basis 0.5s;
  overflow: hidden;
}

.space_design_img:hover {
  flex-basis: 100%;
}

.space_design_img_wrap:hover .space_design_img {
  filter: brightness(0.3);
}

.space_design_img_wrap .space_design_img:hover {
  flex-basis: 80%;
  filter: brightness(1);
}

.space_design_info {
  margin: 0 auto;
  width: 733px;
  display: none;
}

.space_design_info table td {
  padding: 5px 0;
}

.space_design_explain > p {
  text-align: center;
  font: 20px "IBMPlexSansKR-Bold", sans-serif;
  font-weight: bold;
  padding: 6px;
}

.space_design_info table tr:first-child td {
  font: 24px "IBMPlexSansKR-Bold", sans-serif;
}

.space_design_info table tr td:first-child {
  width: 140px;
  font-weight: bold;
}
/* 스페이스 디자인 플렉스 부분 */

/* 미션 부분 */
.scroll {
  background: url("../../img/index/scroll/scroll_re.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 490px;
}

.white_gray_color {
  color: #ececee;
}

.mission_img_wrapper {
  padding: 0 calc((100% - 306px * 3) / 2);
  height: 192px;
  background: url("../../img/index/scroll/Shape\ 2\ copy.png") no-repeat;
  background-position-y: 50px;
  background-position-x: center;
  background-size: 1920px auto;
  display: flex;
}

.mission_img img {
  width: 120px;
  height: 120px;
}
/* .floating{
    float : left;
} */

.mission_img {
  padding: 0 93px;
  vertical-align: middle;
}

.mission_img.ani {
  animation-duration: 2s;
  animation-name: myani;
  animation-iteration-count: 1;
}

.text-center {
  text-align: center;
}

.padding_70 {
  padding-top: 70px;
}

.scroll_content {
  height: 700px;
  background-color: rgba(0, 0, 0, 0.7);
}

@keyframes myani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 미션 부분 */

/* 이벤트 배너 부분 */
.event_banner {
  margin: 0 auto;
}

.event_wrap {
  margin: 0 auto;
  width: 1400px;
  overflow: hidden;
}

.event_wrap img {
  margin-right: 16px;
  width: 456px;
  float: left;
}

.event_wrap a:nth-child(3) img {
  margin-right: 0;
}
/* 이벤트 배너 부분 */

/* sns 부분 */
.sns_container {
  margin: 0 auto;
  padding: 0 1.042% 100px 1.042%;
  width: 75%;
  line-height: 0;
  text-align: center;
}

.sns_img_wrap {
  overflow: hidden;
  width: 280px;
  height: 280px;
  display: inline-block;
}

.sns_img_wrap img {
  width: 100%;
  transition: transform 0.5s ease;
}

.sns_img_wrap img:hover {
  transform: scale(1.1);
}
/* sns 부분 */

/* 롤링스크롤 */
.news {
  width: 100%;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

.notice-list li a {
  font-weight: bold;
}

.open-event {
  margin: 0 auto;
  margin-top: 6px;
  border: 1px solid black;
  border-radius: 24px;
  padding: 6px 16px;
  width: 600px;
  height: 24px;
  background-color: #ececec;
  position: relative;
}

.prev,
.next {
  height: 40%;
  display: block;
}

.control {
  position: absolute;
  right: 10px;
  top: 6px;
}

.notice-list {
  width: 550px;
  height: 24px;
  overflow: hidden;
  padding-right: 20px;
}

#bt5 {
  position: absolute;
  right: 44px;
  top: 6px;
  width: 20px;
  height: 100%;
  line-height: 0.3;
  text-align: center;
}
/* 롤링스크롤 */

/* 푸터 부분 */
footer {
  padding: 3% 13.541%;
  box-sizing: border-box;
  background-color: #645959;
}

footer ul {
  text-align: center;
}

footer ul li {
  margin: 20px;
  display: inline-block;
}

footer ul li a {
  color: #ececee;
  font-weight: bold;
}

footer hr {
  margin: 0 auto;
}

footer p {
  margin: 20px 0;
  font-size: 12px;
  color: #ececee;
}

footer div:last-child a {
  margin: 20px 10px;
  display: inline-block;
}

footer div:last-child a img {
  border: 2px solid #ececee;
  border-radius: 50%;
  padding: 5px;
}
/* 푸터 부분 */
