* {
  margin: 0;
  padding: 0;
  color: #645959;
}

body {
  min-width: 1440px;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

/* 서브비주얼 */
.sub_visual {
  background: url("../../img/fixed/suv_visual/coffee-maker-machine-making-espresso-shot.jpg")
    no-repeat bottom;
  background-size: 1920px auto;
}

.sub_visual :is(h1, p, ul) {
  text-align: center;
  color: #ececee;
}

.sub_visual h1 {
  padding: 100px 0 30px 0;
}

.sub_visual ul {
  padding: 30px 0 100px 0;
  display: flex;
  justify-content: center;
}

.sub_visual ul li a {
  border: 1px solid #ececee;
  width: 180px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  color: #ececee;
  background-color: rgba(64, 59, 59, 0.6);
  display: block;
}

.sub_visual ul li a:hover {
  color: #645959;
  background-color: #ececee;
}

.sub_visual ul li:nth-child(3) a {
  color: #645959;
  background-color: #ececee;
}
/* 서브비주얼 */

/* 메뉴검색 */
.menu_search {
  margin: 100px auto 50px;
  border: 1px solid #645959;
  border-radius: 3px;
  padding: 40px 50px;
  width: 1400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.search_bar {
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.search_box {
  border: 1px solid #645959;
  border-radius: 3px;
  width: 250px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.search_text {
  border: none;
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
}

.search_button {
  border: none;
  width: 35px;
  height: 35px;
  background: url("../../img/menu/fixed/2849829_magnifying_zoom_multimedia_search_magnifier_icon.png")
    no-repeat center;
  background-size: 30px auto;
}

.item_wrapper {
  border-top: 1px solid #645959;
  padding-top: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.item {
  padding-right: 50px;
}
/* 메뉴검색 */

/* 상품리스트 */
#cake_item_wrap {
  margin: 0 auto;
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.inner {
  width: 320px;
  height: 380px;
  margin-bottom: 40px;
  margin-right: 40px;
  position: relative;
  cursor: pointer;
}

.inner:nth-child(4n) {
  margin-right: 0;
}

.inner > img {
  width: 320px;
}

.inner > p {
  text-align: center;
  line-height: 50px;
}

.layer {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #645959;
  opacity: 0;
}

.layer_inner {
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background-color: rgba(236, 236, 238, 0.7);
  opacity: 0;
}

.layer_inner > hr {
  border-color: #645959;
  margin: 10px 0;
}

/* 상품리스트 */

/* 푸터 */
footer {
  padding: 3% 13.541%;
  height: 360px;
  box-sizing: border-box;
  background-color: #645959;
}

footer ul {
  text-align: center;
}

footer ul li {
  margin: 20px;
}

footer ul li a {
  color: #ececee;
  font-weight: bold;
}

footer hr {
  margin: 0 auto;
}

footer p {
  margin: 20px 0;
  font-size: 12px;
  color: #ececee;
}

footer div:last-child a {
  margin: 20px 10px;
  display: inline-block;
}

footer div:last-child a img {
  border: 2px solid #ececee;
  border-radius: 50%;
  padding: 5px;
}
/* 푸터 */
