*{
    margin : 0;
    padding : 0;
    color : #645959;
}

body {
    min-width: 1440px;
}

a{
    text-decoration: none;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

button{
    cursor:pointer;
}

/* GNB 부분 */
header{
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    /* position: sticky; */
    position: fixed;
    left:0; top:0px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(64, 59, 59, 0.3);
}

.header_inner{
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_logo{
    height: 120px;
    display: flex;
    align-items: center;
}

.header_actions{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 120px;
    width: 900px;
}

.header_actions_top{
    margin-top: 27px;
    display: flex;
    justify-content: flex-end;
}
.header_actions_top > *{
    margin-left: 16px;
}

.header_actions_bottom{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    padding-bottom: 32px;
    color: #645959;
}

.header_actions_bottom > .main_menu{
    position: relative;
}

.main_menu_label{
    position: relative;
    cursor: pointer;
    font-weight: bold;
}

.main_menu_label::before{
    position:absolute;
    width:100%;
    height: 5px;
    top: 100%;
    left: 0;
    content: "";
    border-bottom: 5px solid transparent;
    transition: border-bottom-color;
    transition-duration: 0.5s;
}

.main_menu:hover .main_menu_label::before{
    border-bottom-color: #645959;
}

.header_actions_bottom:hover .sub_menu{
    height: 200px;
}

.sub_menu{
    overflow: hidden;
    height: 0;
    transition-duration: 0.2s;
    transition-property: height;
}

.sub_menu_item:first-child{
    margin-top: 32px;
}
.sub_menu_item{
    margin-top: 8px;
    cursor: pointer;
}
.sub_menu_item:hover{
    font-weight: bold;
}

.hamberger_menu {
    display: none;
}

.for_height{
    height: 120px;
}
/* GNB 부분 */

.sub_visual{
    background: url("../../img/fixed/suv_visual/coffee-maker-machine-making-espresso-shot.jpg") no-repeat bottom;
    background-size: 1920px auto;
}

:is(.sub_visual h1, .sub_visual p, .sub_visual ul){
    text-align: center;
    color: #ececee;
}

.sub_visual h1{
    padding: 100px 0 30px 0;
}

.sub_visual ul{
    padding: 30px 0 100px 0;
}

.sub_visual ul li a{
    border: 1px solid #ececee;
    width : 180px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    color: #ececee;
    background-color: rgba(64, 59, 59, 0.6);
    display: block;
}

.sub_visual ul li a:hover{
    color: #645959;
    background-color: #ececee;
}

.sub_visual ul li:nth-child(2) a{
    color: #645959;
    background-color: #ececee;
}

.menu_search{
    margin : 100px auto 50px;
    border : 1px solid #645959;
    border-radius: 3px;
    padding : 40px 50px;
    width: 1400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.search_bar{
    padding-bottom : 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.search_box{
    border : 1px solid #645959;
    border-radius: 3px;
    width: 250px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.search_text{
    border:none;
    padding : 10px;
    width: 200px;
    box-sizing: border-box;
}

.search_button{
    border : none;
    width: 35px;
    height: 35px;
    background: url("../../img/menu/fixed/2849829_magnifying_zoom_multimedia_search_magnifier_icon.png") no-repeat center;
    background-size: 30px auto;
}

.item_wrapper{
    border-top : 1px solid #645959;
    padding-top : 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.item{
    padding-right: 50px;
}

.menu_list{
    margin: 0 auto;
    width: 1400px;
    overflow: hidden;
}

.menu_list > div{
    margin-bottom: 40px;
    margin-right: 40px;
    width: 320px;
    height: 380px;
    text-align: center;
    line-height: 0;
    float: left;
}

:is(.menu_list div:nth-child(4n)){
    margin-right: 0;
}

.menu_list img{
    width: 320px;
}

.menu_list p{
    font-weight: bold;
    line-height: 60px;
}

.more-button{
    margin : 10px auto 100px;
    border : 1px solid #645959;
    border-radius: 3px;
    width: 170px;
    line-height: 38px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    display: block;
}

footer{
    padding : 3% 13.541%;
    height: 360px;
    box-sizing: border-box;
    background-color: #645959;
}

footer ul{
    text-align: center;
}

footer ul li{
    margin : 20px;
}

footer ul li a{
    color: #ececee;
    font-weight: bold;
}

footer hr{
    margin: 0 auto;
}

footer p{
    margin : 20px 0;
    font-size: 12px;
    color: #ececee;
}

footer div:last-child a{
    margin : 20px 10px;
    display: inline-block;
}

footer div:last-child a img{
    border : 2px solid #ececee;
    border-radius: 50%;
    padding : 5px;
}