* {
  margin: 0;
  padding: 0;
  color: #645959;
}

body {
  min-width: 1440px;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

.sub_visual {
  background: url("../../img/fixed/suv_visual/coffee-maker-machine-making-espresso-shot.jpg")
    no-repeat bottom;
  background-size: 1920px auto;
}

.sub_visual :is(h1, p, ul) {
  text-align: center;
  color: #ececee;
}

.sub_visual h1 {
  padding: 100px 0 30px 0;
}

.sub_visual ul {
  padding: 30px 0 100px 0;
}

.sub_visual ul li a {
  border: 1px solid #ececee;
  width: 180px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  color: #ececee;
  background-color: rgba(64, 59, 59, 0.6);
  display: block;
}

.sub_visual ul li a:hover {
  color: #645959;
  background-color: #ececee;
}

.sub_visual ul li:nth-child(2) a {
  color: #645959;
  background-color: #ececee;
}

.agree,
.person,
.location,
.button_wrap {
  margin: 0 auto;
  margin-top: 100px;
  width: 1400px;
}

.box {
  margin-top: 30px;
  border: 1px solid #645959;
  padding: 30px;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  border-top: 1px solid #645959;
  width: 100%;
}

span {
  color: #c80029;
}

.input-error {
  color: #645959;
  font-size: 12px;
  padding: 10px 0;
  position: absolute;
  left: 0;
  /* bottom: 100; */
  display: block;
}

.hint_wrap {
  position: relative;
  padding-bottom: 22px;
}

th {
  text-align: left;
}

th,
td {
  border-bottom: 1px solid #ececee;
  padding: 20px;
}

.name,
.email,
#emailaddr,
.tel_no_a,
.tel_no_b,
#call_time,
.zip,
.adress_main,
.adress_ect,
#shop_name,
#hope_location {
  border: 1px solid #645959;
  padding: 0 20px;
  width: 300px;
  height: 50px;
  font-size: 16px;
  box-sizing: border-box;
}

.email,
.tel_no_a,
.zip {
  width: 200px;
}

.adress_main,
.adress_ect {
  width: 400px;
}

#pyeong {
  border: none;
  width: 210px;
  height: 50px;
  font-size: 16px;
  box-sizing: border-box;
}

.pyeong_text {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -11px;
  color: #645959;
}

.custom_input {
  padding: 0 20px;
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
}

.custom_input::before {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 0;
  top: 0;
  content: "";
  border: 1px solid #645959;
  border-style: inset;
  pointer-events: none;
}

.custom_input.focus::before {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid black;
  border-radius: 4px;
}

.custom_input > input {
  outline: none;
  background-color: transparent;
}

.color_button {
  margin-left: 10px;
  border: none;
  padding: 0 20px;
  height: 50px;
  font-weight: bold;
  color: #ececee;
  background-color: #645959;
  box-sizing: border-box;
}

.button_wrap {
  margin-bottom: 100px;
  text-align: center;
}

.button_wrap button {
  border: none;
  border-radius: 0;
  width: 200px;
  height: 50px;
  font-weight: bold;
}

.button_wrap button[type="reset"] {
  background-color: #ececee;
}

.okay {
  color: #ececee;
  background-color: #645959;
}

button {
  font-size: 16px;
}

input::placeholder {
  color: #cecece;
}

select {
  appearance: none;
  background: url("../../img/franchise/211614_down_b_arrow_icon.png") no-repeat
    calc(100% - 15px) center;
  background-image: url("../../img/franchise/211614_down_b_arrow_icon.png");
  background-size: 20px;
}

/*  */
/*  */
/*  */

footer {
  padding: 3% 13.541%;
  height: 360px;
  box-sizing: border-box;
  background-color: #645959;
}

footer ul {
  text-align: center;
}

footer ul li {
  margin: 20px;
}

footer ul li a {
  color: #ececee;
  font-weight: bold;
}

footer hr {
  margin: 0 auto;
}

footer p {
  margin: 20px 0;
  font-size: 12px;
  color: #ececee;
}

footer div:last-child a {
  margin: 20px 10px;
  display: inline-block;
}

footer div:last-child a img {
  border: 2px solid #ececee;
  border-radius: 50%;
  padding: 5px;
}
