* {
  margin: 0;
  padding: 0;
  color: #645959;
}

body {
  min-width: 1440px;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

.sub_visual {
  background: url("../../img/fixed/suv_visual/coffee-maker-machine-making-espresso-shot.jpg")
    no-repeat bottom;
  background-size: 1920px auto;
}

:is(.sub_visual h1, .sub_visual p, .sub_visual ul) {
  text-align: center;
  color: #ececee;
}

.sub_visual h1 {
  padding: 100px 0 30px 0;
}

.sub_visual ul {
  padding: 30px 0 100px 0;
  display: flex;
  justify-content: center;
}

.sub_visual ul li a {
  border: 1px solid #ececee;
  width: 180px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  color: #ececee;
  background-color: rgba(64, 59, 59, 0.6);
  display: block;
}

.sub_visual ul li a:hover {
  color: #645959;
  background-color: #ececee;
}

.sub_visual ul li:last-child a {
  color: #645959;
  background-color: #ececee;
}

/*  */
/*  */
/*  */

.contents {
  margin: 100px auto;
  width: 1400px;
  background-color: #ececee;
}

details {
  cursor: pointer;
  border-top: 1px solid #ececee;
}

details:last-child {
  border: 1px solid #ececee;
}

details[open] > p {
  position: relative;
  padding: 30px 50px 30px 120px;
}

details[open] > p::before {
  position: absolute;
  content: "A";
  font-size: 1.5em;
  left: 70px;
  top: 26px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

details[open] > summary {
  padding-bottom: 30px;
}

summary {
  position: relative;
  padding: 30px 50px 30px 120px;
  background-color: white;
}

summary::before {
  position: absolute;
  content: "Q";
  font-size: 1.5em;
  width: 32px;
  line-height: 32px;
  left: 70px;
  top: 26px;
}

summary::marker {
  content: none;
}

/* summary::marker::before {
  position: absolute;
  content: "";
  width: 32px;
  line-height: 32px;
  left: 0;
  top: 0;
} */

/*  */
/*  */
/*  */

footer {
  padding: 3% 13.541%;
  height: 360px;
  box-sizing: border-box;
  background-color: #645959;
}

footer ul {
  text-align: center;
}

footer ul li {
  margin: 20px;
}

footer ul li a {
  color: #ececee;
  font-weight: bold;
}

footer hr {
  margin: 0 auto;
}

footer p {
  margin: 20px 0;
  font-size: 12px;
  color: #ececee;
}

footer div:last-child a {
  margin: 20px 10px;
  display: inline-block;
}

footer div:last-child a img {
  border: 2px solid #ececee;
  border-radius: 50%;
  padding: 5px;
}
